$mainColor: #424;
@import "ember-mu-application-generator";

.route-not-found {
  text-align: center;
  font-size: 24px;
  display: block;
  i {
    font-size: 48px;
  }
  > * {
    margin: 10px;
  }
}

.navbar .navigation-menu {
    width: 45%;
}
.navigation-menu > div {
    display: inline-block;
    float: right;
    margin-left: .5em;
}
.navigation-menu > button {
    display: inline-block;
    float: right;
    margin-left: .5em;
}
.ember-power-select-trigger {
  min-width: 50px;
}
@import "ember-power-select";
